//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.ga-readout {
  position: absolute;
  z-index: 10;
  top: 1rem;
  right: 1rem;
  background: white;
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 50ch;
  font-family: Menlo, monospace;
  font-size: 0.8rem;
  overflow: hidden;


  span {
    color: #555;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 0.35rem;

    &.click {
      color: red;
    }

    &.status {
      color: green;
    }

    &.form {
      color: darkslateblue;
      font-weight: bold;
    }

    &.form.detail {
      font-weight: normal;
    }
  }


}
