{% extends "layouts/main.html" %}
{% set pageName="DCMAW page push code" %}

{# DCMAW accounts · UA GTM-TK92W68 · GA4 GTM-KD86CMZ #}
{% set GAcode %}
window.DI.appInit({uaContainerId: 'GTM-TK92W68', analyticsCookieDomain: 'localhost', isGa4Enabled: 'true', ga4ContainerId: 'GTM-KD86CMZ'})
{% endset %}

{% block bodyStart %}
{% include "layouts/cookie-banner" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Listen for a page view</h1>

        <p>This page has a cookie banner: clear cookies to see it.</p>

        <p>In the call to <code>window.DI.appInit()</code> the following information is passed in:
        </p>
        <p>
        <code>{{ GAcode }}</code> </p>

        <p><a href="#">Dummy link track link tracking click checker</a></p>

        <p>I’ve used the cookie banner from DCMAW as a nunjucks include: it’s not exactly the same as <a href="https://design-system.service.gov.uk/components/cookie-banner/">the cookie banner code in the Design System</a>.</p>

        <h2 class="govuk-heading-m">Scripts being called by this page</h2>
        <p>View source to see the script tags: currently these are being added to the page one-by-one instead of being concatenated.</p>

        <h2 class="govuk-heading-m">Script documentation</h2>
        <p>View source to see the script tags: currently these are being added to the page one-by-one instead of being concatenated.</p>

        <p><a href="https://docs.google.com/document/d/1NBoWzigm7sAfiPXEtee2faQ2qPS388KfYNWDLZxXII4/edit?usp=sharing">I’ve tried to describe what each file is doing in this Google document</a>.</p>

        <h2 class="govuk-heading-m">Testing that the Design System code is working</h2>

        {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

        {{ govukCharacterCount({
        name: "with-hint",
        id: "with-hint",
        maxlength: 200,
        label: {
        text: "Can you provide more detail?",
        classes: "govuk-label--s",
        isPageHeading: true
        },
        hint: {
        text: "Do not include personal or financial information like your National Insurance number or credit card details."
        }
        }) }}


    </div>

</div>

{% endblock %}

{% block scripts %}
{# the location of the nunjucks files that inject JavaScript into a prototype kit page #}
{# node_modules/govuk-prototype-kit/lib/nunjucks/govuk-prototype-kit/includes/scripts.njk #}
{% include "govuk-prototype-kit/includes/scripts.njk" %}
{% block pageScripts %}
<!-- Test code to watch what’s happening in the DOM and delete cookies -->
<script src="/public/javascripts/ga-ui.js"></script>

<!--<script src="/public/javascripts/processed/dcmaw.js"></script>-->
<!--<script src="/public/javascripts/dcmaw/cookiesjs/cookies.js"></script>-->
<script src="/public/javascripts/dcmaw/analytics/cookieBanner.js"></script>
<script src="/public/javascripts/dcmaw/analytics/cookies.js"></script>
<script src="/public/javascripts/dcmaw/analytics/core.js"></script>
<script src="/public/javascripts/dcmaw/analytics/loadAnalytics.js"></script>
<script src="/public/javascripts/dcmaw/analytics/ua/init.js"></script>
<script src="/public/javascripts/dcmaw/analytics/ga4/init.js"></script>
<script src="/public/javascripts/dcmaw/analytics/ga4/pageViewTracker.js"></script>
<script src="/public/javascripts/dcmaw/analytics/ga4/pageLinkClickTracker.js"></script>
<script src="/public/javascripts/dcmaw/app/init.js"></script>

<script type="text/javascript">{{ GAcode | safe }}</script>
{% endblock %}
{% endblock %}
