{% extends "layouts/main.html" %}

{% set pageName="GA4 listening for page events" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">GA4 prototypes</h1>
        <div class="app-prose-scope">
         <ul class="govuk-list">
             <li><p><a href="dcmaw.html">DCMAW page view push prototype</a></p><p>An implementation of the DCMAW code on a sample page</p></li>
             <li><p><a href="explore.html">addEventListener to HTML elements</a></p><p>Very basic JavaScript to capture clicks on relevant events as listed in the confluence document</p></li>
             <li><p><a href="https://docs.publishing.service.gov.uk/analytics/">GOV.UK Google Analytics 4 implementation record</a></p><p>This site contains a record of the data implementation for Google Analytics 4 (GA4) on GOV.UK Publishing. It was built to aid developers on GOV.UK Publishing but is available to anyone who may find our approach useful.</p></li>
         </ul>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}

{% block pageScripts %}
{% endblock %}
